extends layout

block content
  .main.container.clearfix
      .container
        .div
          a.btn.btn-primary(href='/peerpad') Create new document
        .div
          a.btn.btn-primary(href='/peerpad') Join document
