extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Share &amp; Edit Documents
    p.lead Work collaboratively without any security or latency concerns
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started


