//- extends layout.pug



block link
  p.sharing-link
    script. 
      localStorage.setItem("email", "pandey.sk@somaiya.edu")
      var data=localStorage.getItem("email")
      console.log(data)
    a(style="color: #f0ad4e", href='/') Create a new document 
    form(id="join" action="/logged" method="post")
        //- input(type="text", name="doc", value="", placeholder="Join document")
        //- br
        //- if status
        //-     div 
        //-         //- span Order #{status} 
        //-         a(style="color: #f0ad4e", href='/'+"?"+status) Verified
        //- else 
        input(type="text", name="email", value="", placeholder="email")
        br
        div 
            input(type="submit" value="Login" )
    //- span(class="copy-container" data-tooltip="Copy to Clipboard")
      i(data-feather="copy" class="copy-link" color="rgb(232, 17, 17)")
    //- span(class="copy-status") Copied!

//- block scripts
//-   script(src='js/main.js')
