extends layout.pug



block link
  p.sharing-link
  
    a(style="color: #f0ad4e", href='/') Create a new document 
    form(id="join" action="/join" method="post")
        if status
            div 
                //- span Order #{status} 
                a(style="color: #f0ad4e", href='/'+"?"+status) Verified
                
        else 
            input(type="text", name="doc", value="", placeholder="Join document")
            br
            div 
                input(type="submit" value="Verify my access and join a document")
    //- span(class="copy-container" data-tooltip="Copy to Clipboard")
      i(data-feather="copy" class="copy-link" color="rgb(232, 17, 17)")
    //- span(class="copy-status") Copied!

block scripts
  script(src='js/main.js')
