extends layout

block content
  .main.container.clearfix
      .container 
        //- .div
        //-   h1.display-4
        //-     //- img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
        //-     | #{name}
        .span
          a.btn.btn-primary(style="margin-left:-4px; width: 30%" href='/') Create new document
        .span
          //- | #{favorite}
          //- a.btn.btn-primary(href='/peerpad') Join document
          br
          br
          br
          form(id="join" action="/join/"+email method="post")
            //- if url
            //-   div
            //-     a.btn.btn-primary(href='/'+"?"+url) Verified 
            //- else
            input.form-control(type="text", name="doc", value="", placeholder="Join document", style="width: 30%")
            //- div.form-group
            //-   label(for='email') Email
            //- input.form-control(type='text' id='email' placeholder='email' name='email')
            //- br
            //- br
            div
                input.btn.btn-primary(type="submit" value="Verify my access and join a document", style="margin-left:-4px; width: 30%")             

          //- form(id="join" action="/join/"+email method="post")

          //-     if status
          //-         div 
          //-             //- span Order #{status} 
          //-           a.btn.btn-primary(href='/'+"?"+status) Verified
                      
          //-     else 
          //-         input(type="text", name="doc", value="", placeholder="Join document")
          //-         br
          //-         div 
          //-             input(type="submit" value="Verify my access and join a document")
