extends layout

block content
  .main.container.clearfix
      .container 
        //- .div
        //-   h1.display-4
        //-     //- img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
        //-     | #{name}
        .div
          a.btn.btn-primary(href='/peerpad') Create new document
        .div
          //- | #{favorite}
          a.btn.btn-primary(href='/peerpad') Join document
